<!-- <header>
  <div class="logo">
    <h1>
      Logo
    </h1>
  </div>
</header> -->

<section id="calling" class="animated fadeIn">
  <div id="user-profile" class="col-lg-4 offset-lg-4 my-4">
    <div class="row">
      <ng-container>
        <img *ngIf="userName==='Doktor'; else defaultCall" class="img-thumbnail" src="../../assets/images/doctor.jpg">
      </ng-container>
      <ng-template #defaultCall>
        <img *ngIf="userName==='Ahmet Yılmaz'" class="img-thumbnail" src="../../assets/images/male1.png">
        <img *ngIf="userName==='Mehmet Yılmaz'" class="img-thumbnail" src="../../assets/images/male3.png">
        <img *ngIf="userName==='Fatma Gül'" class="img-thumbnail" src="../../assets/images/female2.png">
      </ng-template>
    </div>
    <div class="text-center card-body">
      <h3 class="animated pulse infinite">{{userName}} aranıyor...</h3>
    </div>
  </div>

  <button (click)="post()" class="btn btn-danger col-4 offset-4">
    <i class="fa fa-2x fa-phone-slash"></i>
  </button>
</section>
